Additional resources noted below.

<h5>Books</h5>
<ul>
  <li>Otto von Falke and Erich Meyer. Romanische Leuchter und Gefässe, Giessgefässe der Gotik. Berlin: Deutsche Verlag für Kunstwissenschaft, 1935.</li>
  <li>Peter Barnet and Pete Dandridge. Lions, Dragons, & other Beasts: Aquamanilia of the Middle Ages: Vessels for Church and Table. New Haven: Yale University Press, 2006.</li>
</ul>

<h5>Links</h5>
<ul>
  <li>
    <a href="http://www.metmuseum.org/toah/hd/aqua/hd_aqua.htm">Medieval Aquamanilia</a> at The Metropolitan Museum of Art</a>
  </li>
  <li>
    <a href="http://www.nytimes.com/2006/08/25/arts/design/25aqua.html">Beasts Fit to Clean the Hands of a King</a> from The New York Times
  </li>
</ul>
