<ul>
	<li>You may <a href="http://en.wikipedia.org/wiki/Hotlink">hotlink</a> directly to images on this website if you are using them in a non-commercial context. You don't need to save and rehost the image elsewhere.
	<li>Links to images on other websites may break. Please use the contact option below if this occurs. If the link has merely changed, it will be updated.
	<li>Reports of errors on this website are welcome. Refer to the contact section.
</ul>

<h5>Contributions</h5>

<p>This website is a work in progress. Image contributions are welcome. The following information is required to be available: Country of origin and period (a range of years).</p>
